h1{font-family: 'Moirai One', cursive;}
h2,h3,h2,h4,h5,p,nav{font-family: 'Dongle', sans-serif;}

header{
background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/group-picture.jpg);
background-size: cover;
background-position: center top;
background-attachment: fixed;
opacity: 1;}

#members,#sns{background-color: rgba(222, 190, 203, 0.708)}

#u-d1,#button1{background-color:rgba(222, 190, 203, 0.708) ;}
#u-d2{background-color:rgba(185, 221, 243, 0.708) ;}

#albums,#footer,#button2{background-color: rgba(185, 221, 243, 0.708)}

#bar{background-color: rgba(185, 221, 243, 0.708)}



